Source: xtwitter
Section: net
Priority: extra
Maintainer: Tsukasa Hamano <hamano@cuspy.org>
Build-Depends: debhelper (>= 7), autotools-dev, libimlib2-dev, liboauth0-dev, libjson0-dev
Standards-Version: 3.7.3
Homepage: http://www.cuspy.org/xtwitter/

Package: xtwitter
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: liboauth0
Description: twitter client for X
 Xtwitter is very tiny twitter client for X Window System.
 It'll works on Linux, and other UNIX-like operating systems.
